# Copyright (c) 2021 Bas Stottelaar <basstottelaar@gmail.com>
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_DSMR
    bool "Dutch Smart Meter (DSMR) device driver"
    depends on HAS_PERIPH_GPIO
    depends on HAS_PERIPH_UART
    depends on TEST_KCONFIG
    select MODULE_PERIPH_GPIO
    select MODULE_PERIPH_UART
    select MODULE_CHECKSUM
    select MODULE_XTIMER
